
<div class="jumbotron text-center " style="background-color:#84CEEB">
  <h1>Full Circle</h1>
  <p>Bringing your friend groups closer!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <br><br>
      <h2><font color="black">Login</font></h2>
      <form>
        <div>
          <label for="email">Email</label>
          <input class="form-control" id="email" type="text">
        </div>
        <br>
        <div>
          <label for="psw">Password</label>
          <input class="form-control" id="psw" type="password">
        </div>
        <br>
        <button (click)="login()" type="button" class="btn btn-primary btn-md"> Login </button>
      </form>
    </div>
  </div>
</div>
