
<div class="jumbotron text-center " style="background-color:#84CEEB">
  <h1>Full Circle</h1>
  <p>Bringing your friend groups closer!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <br><br>
      <div>
        <h2><font color="black">Login</font></h2>
      </div>
      <form (ngSubmit)="login()" #form="ngForm" autocomplete="nope">

            <div class="form-group">
                <label for="input-username" class="sr-only">Username</label>
                <input name="username" [(ngModel)]="user.username" id="input-username"
                       class="form-control" placeholder="Username" #username="ngModel"
                       autocomplete="username">
              </div>

            <div class="form-group">
              <label for="input-password" class="sr-only">Password</label>
              <input name="password" [(ngModel)]="user.password" type="password" id="input-password"
                     class="form-control" placeholder="Password" #password="ngModel"
                     autocomplete="current-password">
            </div>

            <button class="btn btn-primary btn-block">
              Sign In
            </button>
          </form>
    </div>
  </div>
</div>
